body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #321f28;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container {
  width: 45%;
  min-width: 17rem;
  max-width: 35rem;
  padding: 1rem;
  margin: auto;
  border: 1px solid black;
  margin: 1rem auto 0;
  background-color: #a05344;
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.5);
}

#search {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  border: 1px solid black;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #e79e4f;
}

.result {
  border: none;
  text-align: center;
}

.result button {
  width: 100%;
  height: auto;
  background-color: hsl(31, 76%, 61%);
  border: 1px solid black;
}

.result button:hover {
  transition: 0.2s;
  background-color: hsl(31, 76%, 61%, 0.6);
}

.result button:focus {
  background-color: hsl(31, 76%, 61%, 0.6);
}


ul {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
  /* margin-bottom: 2rem; */
}

.country-visible {
  padding: 1rem;
  border: none;
  background-color: #fff;
  border: 1px solid black;
  border-top: none;
}

.country-data {
  margin: auto;
}

h3 {
  margin-bottom: 0.2rem;
}

.myText {
  text-align: center;
  padding: 0.1rem 1rem;
  margin-bottom: 0;
}